page-login{
    ion-content{
        text-align: center;
        background-image: url('../assets/imgs/pedidos-net.jpg');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-color: rgba(183,28,28,0.5) !important;
    }
    
    ion-img{
        height: 70vh;
        width: auto;
        margin: 10px auto;
        display: block;
        background-color: transparent;
    }
    
    ion-label{
        color: #fff;
    }
    
    .esqueci-minha-senha{
        text-decoration: underline;
    }
    
    ion-footer{
        background-color: transparent;
        text-align: center;
    }
    
    .button-facebook{
        color: #fff;
    }
    
 
}
ion-app.ios [margin-top],
ion-app.ios [margin-top] .scroll-content {
  margin-top: 0;
}

ion-app.md [margin-top], ion-app.md [margin-top] .scroll-content {
    margin-top: 0;
}

.error{
    color: #fff;
}