<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content padding margin-top> 
    <ion-img style="width: 180px; height: 150px;" src="assets/imgs/logo.png" > </ion-img>
    <form padding [formGroup]="autenticarForm" (submit)="autenticar()" novalidate>
        <h6 *ngIf="errorCelular" class="error"> {{messageCelular}}</h6>
      <ion-item>
        <ion-input [(ngModel)]="celular"
                   formControlName="celular"
                   type="text"
                   placeholder="Seu celular"
                   clearInput clearOnEdit="false"
                   [brmasker]="{mask:'(00) 00000-0000', len:15}">
        </ion-input>
      </ion-item>
      

      <ion-item>
        <ion-input [(ngModel)]="senha"
                   formControlName="senha"
                   type="password"
                   placeholder="Sua senha"
                   clearInput clearOnEdit="false">
        </ion-input>
      </ion-item>
      <h6 *ngIf="errorSenha" class="error"> {{messageSenha}}</h6>

      <button ion-button color="dark" full>Entrar</button>
      <button ion-button color="dark" full [navPush]="cadastrarUsuarioPage">Cadastrar</button>
    </form>
    <!-- <ion-list>
      <ion-item>
        <ion-input type="number" placeholder="Seu telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Sua senha"></ion-input>
      </ion-item>
    </ion-list> -->
    
    
    <button ion-button color="light" clear class="esqueci-minha-senha" [navPush]="esqueciSenhaPage">Esqueci minha senha</button>
</ion-content>
<ion-footer>
    <button ion-button clear icon-start class="button-facebook" (click)="loginFacebook()">
        <ion-icon is-active="false" name="logo-facebook"></ion-icon>
        Entrar com o Facebook
    </button>
</ion-footer>