page-apresentacao{
    
    ion-content{
        background-image: url('../assets/imgs/pedidos-net.png');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-color: rgba(183,28,28,0.5) !important;
    }

    ion-icon {
        font-size: 40px; //Preferred size here
    }
    
    ion-img {
        height: 70vh;
        margin: 45px auto;
        display: block;
        background-color: transparent;
    }
    
    ion-slide{
        color: #fff;
    }

    .img-loaded{
        height: 110px;
    }
    
    .swiper-container{
        width: 100%;
        height: 300px;
    }
    
    ion-slides{
        height: auto;
    }
    
    .swiper-pagination-bullet-active{
        background: #fff;
    }
    
    .comecar{
        color: #fff;
        font-weight: bold;
        text-decoration: underline;
        font-size: 18px;
    }
}


