<!--
  Generated template for the ApresentacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
</ion-header>


<ion-content padding color="pedidos-net">
  <ion-img style="width: 180px;" src="assets/imgs/logo.png"> </ion-img>

  <ion-slides pager>
    <ion-slide>
      <ion-icon name="cash" large></ion-icon>
      <p>Resgate um percentual de seus pedidos direto em sua conta</p>
    </ion-slide>
    <ion-slide>
      <ion-icon name="calculator"></ion-icon>
      <p>Use seu saldo para fazer pedidos ou transfira para seus amigos</p>
    </ion-slide>
    <ion-slide>
      <ion-icon name="phone-portrait"></ion-icon>
      <p>Acompanhe seus pedidos e comprove o sucesso do PedidosNet</p>
        <button ion-button clear icon-start [navPush]="loginPage" class="comecar">
          COMEÇAR
          <!-- <ion-icon is-active="false" name="arrow-round-forward" padding></ion-icon> -->
        </button>
    </ion-slide>
  </ion-slides>
  
</ion-content>
