page-main {
    .show-tabbar{
        background: #B71C1C !important;
    }

    .tabs-md{
        color: #fff !important;
    }
    .tab-button{
        color: #fff !important;
    }
    .tab-button-icon{
        color: #fff !important;
    }
    .tab-button[aria-selected=true]{
        color: #000 !important;
    }
    .tab-button[aria-selected=true] .tab-button-icon{
        color:#000 !important;
    }

    // .button-ios.activated{
    //     background-color: #d24a4c;
    // }

    // .button-md.activated{
    //     background-color: #d24a4c;
    // }
}
