<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="restaurant" tabTitle="Restaurantes" [root]="tabRestaurante"></ion-tab>
    <ion-tab tabIcon="cash" tabTitle="Cashback" [root]="tabCashback"></ion-tab>
    <ion-tab tabIcon="paper-plane" tabTitle="Indique" [root]="tabIndiqueAmigo"></ion-tab>
    <ion-tab tabIcon="person" tabTitle="Perfil" [root]="tabPerfil"></ion-tab>
  </ion-tabs>
</ion-content>