<!--
  Generated template for the CadastrarUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        Novo usuário
    </ion-navbar>

</ion-header>


<ion-content padding>
  <form padding [formGroup]="loginForm" (submit)="login()" novalidate>
      <ion-item>
          <ion-input [(ngModel)]="numeroCelular"
                     formControlName="numeroCelular"
                     type="text"
                     placeholder="Celular"
                     clearInput clearOnEdit="false"
                     [brmasker]="{mask:'(00) 00000-0000', len:15}">
          </ion-input>
        </ion-item>
        <h6 *ngIf="errorCelular" class="error"> {{messageCelular}}</h6>
        
    <ion-item>
       <ion-input [(ngModel)]="nome"
                 formControlName="nome"
                 type="text"
                 placeholder="Nome Completo"
                 clearInput clearOnEdit="false">
      </ion-input>
    </ion-item>
    <h6 *ngIf="errorNome" class="error"> {{messageNome}}</h6>
    
    <ion-item>
      <ion-input [(ngModel)]="cpf"
                 formControlName="cpf"
                 placeholder="CPF"
                 clearInput clearOnEdit="false"
                 [brmasker]="{mask:'000.000.000-00', len:14}">
      </ion-input>
    </ion-item>
    <h6 *ngIf="errorCpf" class="error"> {{messageCpf}}</h6>
    
    <!-- <ion-item>
      <ion-input [(ngModel)]="email"
                 formControlName="email"
                 type="text"
                 placeholder="E-mail"
                 clearInput clearOnEdit="false">
      </ion-input>
    </ion-item>
    <h6 *ngIf="errorEmail" class="error"> {{messageEmail}}</h6> -->
    
    <ion-item>
      <ion-input [(ngModel)]="senha"
                 formControlName="senha"
                 type="password"
                 placeholder="Senha"
                 clearInput clearOnEdit="false">
      </ion-input>
    </ion-item>
    <h6 *ngIf="errorPassword" class="error"> {{messagePassword}}</h6>

    <ion-item>
      <ion-label>Li e concordo com os TERMOS DE USO</ion-label>
      <ion-checkbox dark [(ngModel)]="termo" formControlName="termo"></ion-checkbox>
    </ion-item>
    <a hrfe="#" color="dark" clear (click)="openModal()" class="error">Ler termos</a>
    <h6 *ngIf="errorTermo" class="error"> {{messageTermo}}</h6>

    <button ion-button block outline color="secondary" color="dark" full class="login-button">Cadastrar</button>
    <h6 *ngIf="errorGeral" class="error"> {{messageGeral}}</h6>
  </form>
</ion-content>