

page-cadastrar-usuario{
    .toolbar-background{
       
    }

     ion-content{
        text-align: center;
        //background: #fff;
     }

    .termos-uso{
        font-size: 12px;
    }

    .error{
        color: #ff0000;
        font-size: 12px;
    }
    // ion-img{
    //     background-color: #B71C1C;
    //     width: auto;
    //     margin: 10px auto;
    //     display: block;
    // }
    
    // .logo{
    //     margin: -10px auto;
    //     width: 100%;
    //     background-color: #B71C1C;
    // }
}



