page-adicionar-produto-mesa {
    .botao-adicionar-mesa{
        background-color: #B71C1C;
    }
    .botao-adicionar-mesa a:hover{
        background-color: #B71C1C;
    }

    ion-footer{
        background-color: #B71C1C !important;
        text-align: center;       
    }

    .button-mesa{
        color: #fff;
    }

    .button-ios.activated{
        background-color: #d24a4c;
    }

    .button-md.activated{
        background-color: #d24a4c;
    }
}
