<!--
  Generated template for the AdicionarProdutoMesaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Produto</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close" large></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="assets/imgs/queen-live.png" />
    <ion-card-content>
      <ion-card-title>
        {{ produto.Descricao }}
      </ion-card-title>
      <p>
        {{ produto.Ingredientes }}
      </p>
      <p *ngFor="let item of comboItem">
        - {{ item.DescricaoItem }} | Quantidade: {{ item.Quantidade }}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-grid margin-horizontal>
    <ion-row>
      <ion-col>
        <button ion-button clear (click)="menosUm()">
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <ion-input type="number" [(ngModel)]="quantidade">
          {{ quantidade }}
        </ion-input>
      </ion-col>
      <ion-col>
        <button ion-button clear (click)="maisUm()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button padding ion-button full class="botao-adicionar-mesa" (click)="adicionarProdutoMesa()">R$ {{quantidade *
    produto.ValorTradicional}} Adicionar</button>
  <!-- <ion-footer ng-if="produtoMesa != null">
    <button ion-button clear class="button-mesa" (click)="openModal()">Mesa | R$ {{ produtoMesa *
      produto.ValorTradicional}}</button>
    <button ion-button clear class="button-mesa" (click)="itemSelected(item)">Mesa {{ produtoMesa * 30}},00</button>
  </ion-footer> -->
</ion-content>