valor-mesa {
    ion-footer{
        background-color: #B71C1C !important;
        text-align: center;       
        position: fixed !important;
    }

    .button-mesa{
        color: #fff;
    }

    .button-ios.activated{
        background-color: #d24a4c;
    }

    .button-md.activated{
        background-color: #d24a4c;
    }
}
