<ion-footer>
  <button ion-button clear class="button-mesa" (click)="mesa()" id="mesa">Mesa | R$ {{ valor }}</button>
  <!-- <button ion-button clear class="button-mesa" (click)="itemSelected(item)">Mesa {{ produtoMesa * 30}},00</button> -->
</ion-footer>