<!--
  Generated template for the TermoUsoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Termos de Uso</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h6 class="error">Termos e Condições</h6>
<p>Por favor, leia com atenção os termos e condições.</p> 

<p>Este <b>Termo e Condições Gerais (“Termo”)</b> aplicam-se ao uso dos serviços oferecidos pelo ANTONI CESAR PEDROSO - ME., 
devidamente inscrita no CNPJ/MF sob o nº 28.664.725/0001-01, com sede fiscal na Rua Claudio Gomes da Silva 41, na cidade 
de Sorocaba., Estado de SP, CEP: 18085-653, gestora do aplicativo PEDIDOSNET e do site www.pedidosnet.com e dos serviços 
objeto deste Termo, doravante denominado PEDIDOSNET, a PESSOA FÍSICA, maior e capaz, que tenha preenchido o Cadastro, 
cujos dados passam a ser parte integrante deste Termo, bem como que tenha "aceitado" eletronicamente todas as cláusulas 
do mesmo e todas as demais políticas disponíveis no aplicativo, doravante denominado USUÁRIO.<br/>
Os serviços disponíveis pelo PEDIDOSNET para download nas lojas correspondentes ou no site www.pedidosnet.com serão 
regidos pelas cláusulas e condições abaixo.<br/>
Ao se cadastrar no PEDIDOSNET você ESTÁ DE ACORDO COM AS CONDIÇÕES E TERMOS. Note que a recusa destes Termos impedirá 
que você faça pedidos de produtos do nosso Website e Aplicativo.</p>

<h6 class="error">1. SERVIÇOS OFERECIDOS</h6>
1.1 Este TERMO se aplica para regular o uso do serviço oferecido pelo PEDIDOSNET aos USUÁRIOS, qual seja, possibilitar a 
escolha, pelos USUÁRIOS, de RESTAURANTES cadastrados e, via on-line, efetivar solicitações para aquisição (e entrega em 
domicílio e retirada no local) de gêneros alimentícios fornecidos pelos RESTAURANTES, de acordo com o cardápio 
disponibilizado, sendo possível, igualmente, aos USUÁRIOS, a efetivação do pagamento do preço dos produtos via on-line.<br/>
1.2 O serviço do PEDIDOSNET consiste, portanto, em aproximar, através do nosso site, os USUÁRIOS e os RESTAURANTES 
cadastrados, possibilitando que os USUÁRIOS encaminhem, aos RESTAURANTES, pedidos de entrega de gêneros alimentícios, 
bem como, sendo essa a opção dos USUÁRIOS, receber on-line pagamento do preço dos produtos entregues aos USUÁRIOS pelos 
RESTAURANTES.<br/>
1.3 Desde logo fica esclarecido ao USUÁRIO - o qual se declara ciente - que o serviço oferecido pelo PEDIDOSNET se 
relaciona apenas à 'intermediação (com opção de pagamento on-line) para comercialização de produtos alimentícios, não 
abarcando preparo, embalagem, disponibilização e entrega física (via motoboy ou outros meios) dos produtos, sendo esses 
quatro itens de responsabilidade integral do RESTAURANTE, a quem deverão ser direcionados quaisquer reclamos acerca de 
problemas decorrentes de vício, defeito ou inexecução da feitura, preparo e entrega de produtos alimentícios.
<h6 class="error">2. CADASTRO</h6>
2.1 O USUÁRIO, para utilizar os serviços acima descritos, deverá ter capacidade jurídica para atos civis e deverá, 
necessariamente, prestar as informações exigidas no CADASTRO, assumindo integralmente a responsabilidade (inclusive cível 
e criminal) pela exatidão e veracidade das informações fornecidas no CADASTRO, que poderá ser verificado, a qualquer 
momento, pelo PEDIDOSNET.<br/>
2.1.1 Em caso de informações incorretas, inverídicas ou não confirmadas, bem assim na hipótese da negativa em corrigi-las 
ou enviar documentação que comprove a correção, o PEDIDOSNET se reserva o direito de não concluir o cadastramento em 
curso ou, ainda, de bloquear o cadastro já existente, impedindo o USUÁRIO de utilizar os serviços on-line até que, a 
critério do PEDIDOSNET, a situação de anomalia esteja regularizada. O PEDIDOSNET se reserva o direito de impedir, a seu 
critério, novos CADASTROS, ou cancelar os já efetuados, em caso de ser detectada anomalia que, em sua análise, seja 
revestida de gravidade ou demonstre tentativa deliberada de burlar as regras aqui descritas, obrigatórias para todos os 
USUÁRIOS. Também agirá o PEDIDOSNET de tal forma caso verifique descumprimento, pelo USUÁRIO, de qualquer obrigação 
prevista no presente TERMO.<br/>
2.2 Efetuado, com sucesso, o CADASTRO, o USUÁRIO terá acesso aos serviços por meio de login 
e senha, dados esses que se compromete a não divulgar a terceiros, ficando sob sua exclusiva responsabilidade qualquer 
solicitação de serviço que seja feita com o uso de login e senha de sua titularidade.<br/>
<h6 class="error">3. OBRIGAÇÕES DO USUÁRIO</h6>
3.1 Efetuado com sucesso o CADASTRO do USUÁRIO, este se obriga a não divulgar a terceiros login e senha de acesso, nem 
permitir o uso de tais informações por terceiros, responsabilizando-se pelas consequências do uso de login e senha de 
sua titularidade.<br/>
3.2 É obrigação do USUÁRIO fornecer informações cadastrais totalmente verídicas e exatas, responsabilizando-se exclusiva 
e integralmente (em todas as searas jurídicas) por todo o conteúdo por si informado no item CADASTRO, mantendo atualizado 
e confirmado o endereço para entrega dos produtos encomendados. <br/>
3.3 O USUÁRIO se obriga, também, a pagar integralmente o preço dos produtos por si solicitados ou encomendados ao 
RESTAURANTE e efetivamente a si entregues, seja pela modalidade on-line, seja por qualquer outra forma, diretamente ao 
portador dos produtos encomendados por meio deste site (dinheiro, cheque, tickets, etc.).<br/>
3.4 O USUÁRIO que seja menor de 18 anos de idade está ciente de que não poderá encomendar e adquirir, em qualquer 
hipótese, produtos alcoólicos, responsabilizando-se pela correta informação de sua idade no item CADASTRO.
<h6 class="error">4. OBRIGAÇÕES DO PEDIDOSNET</h6>
4.1 Disponibilizar no site e aplicativo PEDIDOSNET espaço virtual que permita ao USUÁRIO devidamente cadastrado 
efetivar pedidos de compra de gêneros alimentícios anunciados e comercializados pelos RESTAURANTES e, também, 
disponibilizar ao USUÁRIO meios de pagamento do preço dos produtos on-line. <br/>
4.2 Proteger, por meio de armazenamento em servidores ou quaisquer outros meios magnéticos de alta segurança, a 
confidencialidade de todas as informações e cadastros relativos aos USUÁRIOS, assim como valores atinentes às operações 
financeiras advindas da operacionalização dos serviços previstos no presente TERMO. Contudo, não responderá pela 
reparação de prejuízos que possam ser derivados de apreensão e cooptação de dados por parte de terceiros que, rompendo 
os sistemas de segurança, consigam acessar essas informações.
<h6 class="error">5. MODIFICAÇÕES DESTE TERMO</h6>
5.1 O presente TERMO DE USO poderá, a qualquer tempo, ter seu conteúdo, ou parte dele, modificados para adequações e 
inserções, tudo com vistas ao aprimoramento dos serviços disponibilizados.<br/>
5.2 As novas condições entrarão em vigência assim que sua veiculada no site, sendo possível ao USUÁRIO manifestar 
oposição a quaisquer dos termos modificados, desde que o faça por escrito, através do site PEDIDOSNET, o que gerará o 
cancelamento de seu CADASTRO.<br/>
<h6 class="error">6. CANAL DE COMUNICAÇÃO</h6>
6.1 Para estabelecer contato entre PEDIDOSNET e o USUÁRIO fica disponibilizado o endereço eletrônico deste link, sendo 
certo que o USUÁRIO se obriga, igualmente, a manter em seu cadastro endereço eletrônico atual por intermédio do qual se 
farão as comunicações a ele dirigidas pelo PEDIDOSNET, desde logo emprestando-se validade jurídica e efetividade a esse 
meio eletrônico de troca de informações recíprocas.<br/>
<h6 class="error">7. ACEITAÇÃO DO TERMO DE USO</h6>
7.1 O USUÁRIO declara ter lido, entendido e que aceita todas as regras, condições e obrigações estabelecidas no presente 
TERMO.
<h6 class="error">8. FORO DE ELEIÇÃO</h6>
8.1 As partes elegem como competente para dirimir eventuais controvérsias que venham a surgir da interpretação e do 
cumprimento do presente TERMO o foro da Comarca do São Paulo - SP.
<h6 class="class">9. DA PRIVACIDADE DA INFORMAÇÃO</h6>
9.1. A plataforma prestadora dos Serviços PEDIDOSNET utiliza-se do aplicativo de “cookies” (dados no computador/celular 
do USUÁRIO) para permitir sua correta identificação, além de melhorar a qualidade das informações oferecidas em seu 
portal para os USUÁRIOS. O uso regular de cookies é uma prática aceitável na indústria, pois permite o armazenamento de 
informações importantes, como, por exemplo, os acessos do USUÁRIO na plataforma prestadora dos Serviços PEDIDOSNET, para 
posteriormente não ser apresentado um conteúdo repetido ou ultrapassado. Se não for a vontade do USUÁRIO receber cookies, 
ou o mesmo desejar uma notificação prévia antes de seu uso, ele deverá programar, a seu critério, o seu celular ou seu 
Web browser com estas opções, caso seu browser disponha do recurso.<br/>
9.2. Além das informações pessoais fornecidas, a plataforma prestadora dos Serviços PEDIDOSNET tem a capacidade 
tecnológica de recolher outras informações técnicas, como o endereço de protocolo de Internet do USUÁRIO, o sistema 
operacional do computador ou do celular, o tipo de browser e o endereço de websites de referência.<br/>
9.3. Conforme já determinado anteriormente, o PEDIDOSNET não fornecerá as informações do USUÁRIO a terceiros sem 
prévia autorização do mesmo, com exceção de casos que o PEDIDOSNET já possui a autorização para o seu compartilhamento, 
conforme o presente Termo, ou quando são necessários para responder às solicitações ou perguntas de entidades 
governamentais, com o propósito de responder às reclamações que o conteúdo submetido infringe direitos de terceiros, 
ou seja, necessária para a proteção de direitos, propriedades e/ou segurança da plataforma prestadora dos Serviços 
PEDIDOSNET, de seus USUÁRIOS e/ou do público em geral.<br/>
9.4. O PEDIDOSNET poderá, a seu critério, fazer uso das informações armazenadas nos seus bancos de dados, conforme 
descrito acima, por um prazo razoável, sem que exceda os requisitos ou limitações legais, para dirimir quaisquer 
disputas, solucionar problemas e garantir os direitos do PEDIDOSNET, assim como os termos e condições presentes na 
Política de Privacidade.<br/>
9.5. O PEDIDOSNET deverá também, a seu critério, examinar as informações armazenadas nos seus bancos de dados com o 
propósito de identificar USUÁRIOS com múltiplas identidades ou pseudônimos para fins legais e/ou de segurança. 
Em outra hipótese, se o PEDIDOSNET for obrigado por lei, ordem judicial ou outro processo legal, a divulgar alguma 
informação pessoal do USUÁRIO, não hesitará em cooperar com estes agentes. Assim, por meio da aceitação deste 
instrumento, o USUÁRIO autoriza o PEDIDOSNET a divulgar estas informações pessoais para atender aos fins acima indicados.<br/>
9.6. As informações cedidas pelo USUÁRIO e registradas devido ao uso do sistema (com exceção ao conteúdo de mensagens 
pessoais) servirão como insumos para o mapeamento de informações de mercado e formação de estatísticas do PEDIDOSNET. 
Através do cadastramento, uso e fornecimento de informações ao PEDIDOSNET, o USUÁRIO deliberadamente aceita o presente 
Termo e as condições previstas na Política de Privacidade sobre o uso de suas informações.<br/>
9.7. Informações adicionais coletadas pelo PEDIDOSNET através da análise da navegação de cada USUÁRIO e que não o 
torne identificável pessoalmente são de propriedade exclusiva do PEDIDOSNET, que pode usar essas informações do modo 
que melhor julgar apropriada. Além disso, as informações fornecidas são usadas para: (i) administrar a conta dos USUÁRIOS 
a fim de customizar cada vez mais os Serviços PEDIDOSNET; e (ii) comunicar novidades e atualizações.<br/>
9.8. O USUÁRIO que não concordar com o presente Termo e proceder com o cancelamento de seu CADASTRO, removerá seus 
dados para futuras consultas, mas esta remoção não funcionará de maneira retroativa, ou seja, as ações anteriores à 
essa decisão continuarão armazenados em virtude das obrigações do PEDIDOSNET perante as autoridades brasileiras e 
internacionais, mas sem qualquer visualização ou acesso aos demais USUÁRIOS.<br/>
9.8.1. Neste sentido, para cancelar seu CADASTRO na plataforma dos Serviços do PEDIDOSNET, o USUÁRIO deverá acessar o 
painel de configurações do PEDIDOSNET, e revogar a permissão dada para ao aplicativo do PEDIDOSNET.<br/>
9.9. Conforme já mencionado acima, não é permitida a utilização de nenhum dispositivo, software ou outro recurso que 
venha a interferir nas atividades e operações dos serviços da plataforma do PEDIDOSNET, bem como nas contas ou seus 
bancos de dados. Qualquer intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de 
propriedade intelectual e/ou as proibições estipuladas neste Termo, tornarão o responsável passível das ações legais 
pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.<br/>
9.10. Em caso de dúvidas sobre a proteção a dados pessoais, ou para obter maiores informações sobre dados pessoais e os 
casos nos quais poderá ser quebrado o sigilo de que trata esta cláusula, consultar a seção Suporte do aplicativo do 
PEDIDOSNET.
</ion-content>
