<!--
  Generated template for the MyLocalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Endereços Cadastrados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-item-group>
      <ion-item>
        <button ion-button color="danger" clear (click)="openModal()"> 
        <ion-icon name="add" item-start></ion-icon>
          Adicionar endereço
        </button>
      </ion-item>
      <!-- <ion-item>
        <button ion-button color="danger" clear (click)="openModal()">
        <ion-icon name="locate" item-start></ion-icon> 
          Usar minha localização
        </button>
      </ion-item> -->
      <ion-item>
          <p>Rua Caio Prado, 30 - Consolação</p> 
          <p>São Paulo/SP</p> 
      </ion-item>
      <ion-item>
          <p>Rua Caio Prado, 30 - Consolação</p> 
          <p>São Paulo/SP</p> 
      </ion-item>
      <ion-item>
          <p>Rua Caio Prado, 30 - Consolação</p> 
          <p>São Paulo/SP</p> 
      </ion-item>
    </ion-item-group>
</ion-content>
