<!--
  Generated template for the PerfilUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-item-group>
        <ion-item (click)="selectEditUser()">
          <ion-icon name="person" item-start></ion-icon>
          Meu perfil
        </ion-item>
        <ion-item (click)="selectLocal()">
          <ion-icon name="locate" item-start></ion-icon>
          Endereços
        </ion-item>
        <ion-item (click)="exit()">
          <ion-icon name="exit" item-start></ion-icon>
            Sair
          </ion-item>
    </ion-item-group>
</ion-content>
