<ion-grid margin-horizontal>
  <ion-row class="cabecalho-row">
    <ion-col col-2 no-padding>
    </ion-col>
    <ion-col col-4>
      Item
    </ion-col>
    <ion-col col-2>
      Qtde
    </ion-col>
    <ion-col col-2>
      Valor
    </ion-col>
    <ion-col col-2>
      Tipo
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid margin-horizontal>
  <ion-row>
    <ion-col col-2 no-padding>
      <button ion-button clear>
        <ion-icon name="close" (click)="limparMesa()"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4>
      {{itemMesa.item}}
    </ion-col>
    <ion-col col-2>
      {{itemMesa.quantidade}}
    </ion-col>
    <ion-col col-2>
      {{itemMesa.valor}}
    </ion-col>
    <ion-col col-2>
      Meia
    </ion-col>
  </ion-row>
</ion-grid>