<!--
  Generated template for the RegisterLocalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Novo endereço</ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="outro.length != 0">
      <ion-input type="number" placeholder="Seu cep" ></ion-input>
    </ion-item>
    <div class="endereco-completo" *ngIf="cep.length > 0">
      <ion-item>
          <ion-input type="text" placeholder="Endereço"></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-input type="text" placeholder="Número"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" placeholder="Apto, bloco, etc"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" placeholder="Estado"></ion-input>
          <ion-input type="text" placeholder="Cidade"></ion-input>
      </ion-item>    
      <button ion-button color="danger" full (click)="closeModal()">Salvar</button>
    </div>
  </ion-list>
  <div *ngIf="outro.length != 0">
    <button ion-button color="danger" full (click)="verifica()">Buscar CEP</button>
  </div>
</ion-content>
