<!--
  Generated template for the EsqueciSenhaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recuperar senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-input type="number" placeholder="Digite seu telefone"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button color="dark" full>Enviar</button>

</ion-content>
