page-restaurante {
    // ion-title {
    //     top: 0;
    //     left: 0;
    //     padding: 0 90px 1px;
    //     width: 100%;
    // }
    .menu-comida{
        margin-top: -10px;
        margin-bottom: -15px;
        height: auto;
    }

    .toolbar-title-md{
        padding: 0;
    }

    .toolbar-title-ios {
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    ion-img{
        background-color: #fff;
        padding: 1px;
    }
    
    ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.2em;
        position: absolute;
        top: 54%;
        width: 100%;
        color: #fff;
      }

      .header{
          padding: 0 auto;
          box-sizing: 20%;
          background-color:#B71C1C;
      }

    //   .card-md {
    //       margin: 0 auto;
    //       width: 100%;
    //       background-color: #B71C1C;
    //   }
    //   .card-ios{
    //     margin: 0 auto;
    //     width: 100%;
    //     background-color: #B71C1C;
    //     margin-bottom: 2px;
    //   }

}