<!--
  Generated template for the RestaurantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <!--  <ion-toolbar>
       <ion-title center>PedidosNet</ion-title>
       <div class="saldo-cashback" *ngFor="let item of saldoNome">
           Olá, {{ item.nomeUsuario }}! <br/> Seu cashback <br/> R$ {{ item.saldo }}
        </div> 
    </ion-toolbar>-->
</ion-header>
<ion-content class="" no-padding>
    <!-- <ion-card >
        <ion-card-header>
          Header
        </ion-card-header>
        <ion-card-content>
          The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
        </ion-card-content>
    </ion-card>  -->
    <div class="header-saldo">
        <div class="descricao-saldo">
            Seu saldo
        </div>
        <div class="saldo">
            R$ 0,00
        </div>
    </div>
    <div>
        <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
        <ion-searchbar placeholder="Pesquisar"></ion-searchbar>
        <ion-grid class="menu-comida">
            <ion-row padding>
                <ion-col col-sm-5>
                    <button ion-button clear icon-only>
                        <ion-img src="assets/imgs/pizza.png"> </ion-img>
                    </button>
                </ion-col>
                <ion-col col-sm-5>
                    <button ion-button clear icon-only>
                        <ion-img src="assets/imgs/burger.png"> </ion-img>
                    </button>
                </ion-col>
                <ion-col col-sm-5>
                    <button ion-button clear icon-only>
                        <ion-img src="assets/imgs/sushi.png"> </ion-img>
                    </button>
                </ion-col>
                <ion-col col-sm-5>
                    <button ion-button clear icon-only>
                        <ion-img src="assets/imgs/cutlery.png"> </ion-img>
                    </button>
                </ion-col>
                <ion-col col-sm-5>
                    <button ion-button clear icon-only>
                        <ion-img src="assets/imgs/placeholder.png"> </ion-img>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <ion-list>
          <ion-item *ngFor="let item of listEstabelecimento" (click)="itemSelected(item)">
            <ion-thumbnail item-start>
              <img src="../../assets/imgs/avatar-ts-hamm.png">
            </ion-thumbnail>
            <h2>{{ item.cashBack }} Cashback</h2>
            <h3>{{ item.nomeEstabelecimento }}</h3>
            <h3>{{ item.tipo }}</h3>
            <p>{{ item.endereco }}</p>
          </ion-item>
          <ion-item>
            <p>Não encontrou o estabelecimento?</p>
            <p>Clique aqui!</p>
          </ion-item>
      </ion-list> -->

        <ion-card *ngFor="let item of listEstabelecimento" (click)="itemSelected(item.Codigo)" no-padding>
            <img src="assets/imgs/card-amsterdam.png">
            <ion-card-title>
                {{ item.cashBack }} 10% Cashback
            </ion-card-title>
            <!-- <div class="card-title">{{ item.cashBack }} Cashback</div> -->
            <div class="card-subtitle">{{ item.Nome }}</div>
            <!--<div class="card-subtitle">{{item.tipo}}</div>-->
            <!-- <div class="card-subtitle">{{ item.Logradouro }}</div> -->
        </ion-card>
        <ion-list>
            <ion-item>
                <p>Não encontrou o estabelecimento?</p>
                <p>Clique aqui!</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>