<!--
  Generated template for the MesaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sua mesa</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="close" large></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/avatar-ts-hamm.png">
      </ion-thumbnail>
      <h2>10% Cashback</h2>
      <h3>Nome estabelecimento 1</h3>
      <h3>Pizza</h3>
      <p>Endereco Fake 1</p>
    </ion-item>
  </ion-list>

  <ion-item-divider color="light" no-padding>Itens</ion-item-divider>

 
  <ion-grid margin-horizontal>
    <ion-row class="cabecalho-row">
      <ion-col col-2 no-padding>
      </ion-col>
      <ion-col col-6>
        Item
      </ion-col>
      <ion-col col-2>
        Qtde
      </ion-col>
      <ion-col col-2>
        Valor
      </ion-col>
      <!-- <ion-col col-2>
        Tipo
      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-grid margin-horizontal *ngFor="let item of itemMesa; let i = index">
    <ion-row >
      <ion-col col-2 no-padding>
        <button ion-button clear>
          <ion-icon name="close" (click)="limparMesa(i)"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        {{item.item}}
      </ion-col>
      <ion-col col-2>
        {{item.quantidade}}
      </ion-col>
      <ion-col col-2>
        {{item.valor * item.quantidade}}
      </ion-col>
      <!-- <ion-col col-2>
        Meia
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-item-divider color="light" no-padding>Total a pagar</ion-item-divider>

  <ion-grid margin-horizontal *ngFor="let item of itemMesa; let i = index">
    <ion-row >
      <ion-col col-2>
        {{item.valorMesa}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-item-divider color="light" no-padding>Adicionais</ion-item-divider>

  <ion-grid margin-horizontal class="cabecalho-row">
    <ion-row no-padding>
      <ion-col col-2 no-padding>
      </ion-col>
      <ion-col col-4>
        Item
      </ion-col>
      <ion-col col-2>
        Qtde
      </ion-col>
      <ion-col col-2>
        Valor
      </ion-col>
      <ion-col col-2>
        Tipo
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid margin-horizontal>
    <ion-row>
      <ion-col col-2 no-padding>
        <button ion-button clear small>
          <ion-icon name="close" no-padding></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        Item Adional 1
      </ion-col>
      <ion-col col-2>
        2
      </ion-col>
      <ion-col col-2>
        3,00
      </ion-col>
      <ion-col col-2>
        Meia
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <button padding ion-button full class="confirmar-compra" [navPush]="finalizarPedidoPage">Confirmar pedido</button>
  <button padding ion-button full class="confirmar-compra">+ Itens</button>

</ion-content>