page-mesa {
    ion-grid{
        font-size: 12px;
    }

    ion-row{
        height: auto;
        padding: 0;

        .button-ios{
            height: auto;
            font-size: 12px;
        }

        .button-ios.activated{
            height: auto;
            font-size: 12px;
        }
    
        .button-clear-md.activated{
            height: auto;
            font-size: 12px;
        }
    }

    .item-inner{
        height: 10px;
    }

    .confirmar-compra{
        background-color: #B71C1C;
    }

    .confirmar-compra a:hover{
        background-color: #B71C1C;
    }

    .button-ios.activated{
        background-color: #d24a4c;
    }
    .button-md{
        height: auto;
    }
    .button-md.activated{
        background-color: #d24a4c;
    }

    .cabecalho-row{
        font-weight: bold;
    }
}
