// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    color: #333;
    text-align:center;
    position:relative;
}
   input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
.header-saldo{
    width: 115%;
    background-color: #B71C1C;
    margin: -16px 0 2px -16px;
    //position: fixed;
}
.descricao-saldo{
  color:#fff;
  padding-top: 25px; 
  padding-left: 10px;
}
.saldo{
  padding-top: 8px; 
  padding-left: 10px;
  color:#fff;
  font-size: 35px;
  margin-bottom: 10px;
}