<!--
  Generated template for the EditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
          <!-- <ion-input type="text" placeholder="Seu nome"> -->
              {{nome}}
          <!-- </ion-input> -->
        </ion-item>
        <ion-item>
            {{cpf}}
          <!-- <ion-input type="number" placeholder="Seu CPF"></ion-input> -->
        </ion-item>
        <!-- <ion-item>
            <ion-input type="email" placeholder="Seu e-mail"></ion-input>
        </ion-item> -->
        <ion-item>
            <!-- <ion-input type="number" placeholder="Seu celular"></ion-input> -->
            {{celular}}
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Escolha uma senha"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Repita sua senha"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button color="dark" full [navPush]="mainPage">Salvar</button>
</ion-content>
