<!--
  Generated template for the ContaCashbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content>
    <div class="header-saldo">
        <div class="descricao-saldo">
            Seu saldo
        </div>
        <div class="saldo">
            R$ 0,00
        </div>
    </div>
    <button ion-button color="dark" full (click)="openList()">
        Selecionar contato na agenda 
        <ion-icon name="arrow-dropright"></ion-icon>
    </button>
</ion-content>