page-cardapio {
    .segment-md{
        color: #B71C1C !important;
    } 

    .segment-button{
        color: #fff !important;
        border-color: #000 !important;
        background-color: #B71C1C !important;
    } 

    .segment-button.activated{
        border-color: #B71C1C !important;
        opacity: 1;
        background-color: #fff !important;
    }

      .segment-button.segment-activated {
        border-color: #B71C1C !important;
        opacity: 1;
        background-color: #fff !important;
        color: #B71C1C !important;
      }

      .cardapio-layout p{
          font-size: 12px;
      }

      .cashbackFontColor{
        color: #B71C1C;
      }

      .cardapio-layout h3{
        font-size: 14px;
        text-decoration: bold;
      }

    .list-ios {
        margin: 0;
      }

      .grid{
        padding: 0;
      }

    .cardapio-layout{
  
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
  
        #float-left{
          display: inline;
        }

        .item-cardapio{
            display: inline;
        }

        ion-card{
            font-size: 12px;
        }
    }
      
    hr{
      width: 100%;
      margin-top: -5px;
    }

    .botao-voltar{
      color: #B71C1C !important;
    }

    .back-button.show-back-button {
      display: none;
  }
}
