<!--
  Generated template for the CardapioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cardapio</ion-title>
    <ion-buttons>
      <button ion-button (click)="popAll()" class="botao-voltar">
        <ion-icon name="back" large><ion-icon name="arrow-back"></ion-icon> Voltar </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/avatar-ts-hamm.png">
      </ion-thumbnail>
      <!-- <h2>{{ restaurante.cashBack }} Cashback</h2>
      <h3>{{ restaurante.Nome }}</h3>
      <h3>{{ restaurante.tipo }}</h3>
      <p>{{ restaurante.endereco }}</p> -->

      
    </ion-item>
  </ion-list>

  <div no-padding>
    <ion-segment [(ngModel)]="opcaoRestaurante">
      <ion-segment-button value="cardapio">
        Cardápio
      </ion-segment-button>
      <ion-segment-button value="avaliacao">
        Avaliação
      </ion-segment-button>
      <ion-segment-button value="sobre">
        Sobre
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="opcaoRestaurante" margin-top>
    <ion-list *ngSwitchCase="'cardapio'" class="cardapio-layout">
      <!-- <ion-item-divider color="light">Promoção</ion-item-divider>
    <ion-item no-padding (click)="openModal()">
      <ion-avatar item-start>
        <img src="img/thumbnail-puppy-1.jpg">
      </ion-avatar>
      <h3>Promoção Calabresa - R$30,00</h3>
      <p>Ingredientes calabresa</p>
      <p class="cashbackFontColor">Cashback - R$3,00</p>-->

      <ion-grid *ngIf="listPromocao?.length > 0">
        <ion-card-header margin-top>
          Promoções
        </ion-card-header>
        <hr>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of listPromocao" no-padding>
            <ion-card (click)="openModal(item, 'promocao')">
              <img src="assets/imgs/card-amsterdam.png">
              <div class="item-cardapio">{{ item.Descricao }} R$ {{ item.ValorPromocional }}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listCombo?.length > 0">
        <ion-card-header margin-top>
          Combos
        </ion-card-header>
        <hr>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of listCombo" no-padding>
            <ion-card (click)="openModal(item, 'combo')">
              <img src="assets/imgs/card-amsterdam.png">
              <div class="item-cardapio">{{ item.Nome }} R$ {{item.Valor}}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listPizza?.length > 0">
        <ion-card-header margin-top>
          Pizza
        </ion-card-header>
        <hr>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of listPizza" no-padding>
            <ion-card (click)="openModal(item, pizza)">
              <img src="assets/imgs/card-amsterdam.png">
              <div class="item-cardapio">{{ item.Descricao }} R$ {{ item.ValorTradicional }}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listLanche?.length > 0">
        <ion-card-header margin-top>
          Lanches
        </ion-card-header>
        <hr>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of listLanche" no-padding>
            <ion-card (click)="openModal(item)">
              <img src="assets/imgs/card-amsterdam.png">
              <div class="item-cardapio">{{ item.Descricao }} R$ {{ item.ValorTradicional }}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listEsfiha?.length > 0">
        <ion-card-header margin-top>
          Esfihas
        </ion-card-header>
        <hr>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of listEsfiha" no-padding>
            <ion-card (click)="openModal(item, 'esfiha')">
              <img src="assets/imgs/card-amsterdam.png">
              <div class="item-cardapio">{{ item.Descricao }} R$ {{ item.Valor }}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="listBebida?.length > 0">
        <ion-card-header margin-top>
          Bebidas
        </ion-card-header>
        <hr>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of listBebida" no-padding>
            <ion-card (click)="openModal(item, 'bebida')">
              <img src="assets/imgs/card-amsterdam.png">
              <div class="item-cardapio">{{ item.Nome }} R$ {{ item.Valor}} </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-grid>
      <ion-row *ngFor="let row of grid">
          <ion-col width-50 *ngFor="let file_uri of row">
              <img [src]="file_uri">
            </ion-col>
      </ion-row>
    </ion-grid> -->

    </ion-list>

    <ion-list *ngSwitchCase="'avaliacao'">
      <ion-card no-padding>
        <ion-card-header>
          Marcel
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin lectus consequat mi
          consectetur
          consequat. semper consectetur ante, et porta felis dignissim sit amet.
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'sobre'">

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin lectus consequat mi
        consectetur consequat.
        Qisque semper consectetur ante, et porta felis dignissim sit amet. Morbi id tincidunt massa. Donec in iaculis
        justo. Curabitur
        rhoncus placerat turpis, eu laoreet sem sollicitudin id. Nullam sed mi rutrum, semper erat ut, cursus justo.
        Vestibulum ante ipsum primis
        in faucibus orci luctus et ultrices posuere cubilia Curae; Nam lacinia euismod nisl vel ultrices. Sed efficitur
        in nunc quis condimentum.
        Mauris luctus lacus eu tortor dignissim, id tempus dui facilisis.
      </p>

    </ion-list>
  </div>
  <valor-mesa [valor]='valor'></valor-mesa>
</ion-content>