<!--
  Generated template for the IndiqueAmigoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content margin-top>
  <div class="title-indique-amigo">
      <ion-title>Indique um amigo</ion-title>
  </div>
    <br/><br/>
    Olá, eu gostaria de te contar um pouco sobre o PedidosNET, aqui encontramos os melhores restaurantes da cidade e ainda recebemos parte de nosso dinheiro de volta. 
    <br/><br/>
    <button ion-button icon-start full class="indique-amigo">
        <ion-icon is-active="false" name="share"></ion-icon>
        Compartilhar
    </button>
</ion-content>
